body {
    background-image: linear-gradient(45deg, rgb(255, 136, 0), rgb(0, 0, 169));
}

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 490px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border: 1px solid lightgray;
}

.headerPanel {
    flex: 0.5;
    background-image: linear-gradient(180deg, lightgray, gray);
    padding: 5px;
}

.scrollContainer {
    overflow-y: scroll;
    flex: 12;
    border-top: 1px solid lightgray;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.header {
    width: 100%;
    font-size: 26px;
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-align: center;
}

#searchBar {
    padding-top: 10px;
    display: none;
    margin: 5px;
    border-top: 1px solid lightgray;
}

#postsList {
    width: 100%;
    padding: 10px;
}

.favicon {
    height: 24px;
    margin: 8px;
}

.headerLayout {
    display: grid;
    grid-template-columns: 50px auto 35px 35px 19px;
    align-items: center;

}

.searchBarLayout {
    display: grid;
    grid-template-columns: 0.5fr 40px 1fr 35px 35px 16px;
    align-items: center;

}

.postLayout {
    border-radius: 8px;
    padding-left: 5px;
}

.postHeader {
    display: grid;
    grid-template-columns: auto 35px 35px;
    align-items: center;
    height: 40px;
    padding: 5px;
}

.postCategory {
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
}

.postTitle {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.postDate {
    font-size: 12px;
    margin-bottom: 20px;
    color:gray
}

.postText {
    position: relative;
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
}

.partialCollapsed {
    height: 144px;
    overflow-y: hidden;
}

.collapseCmd {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: blue;
    background-color: white;
    cursor: pointer;
}

.maskCollapse {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: blue;
    background-color: white;
    cursor: pointer;
    height: 20px;
    width: 100%;
}

.postImage {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.image_input {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.postRow .cmd {
    display: none;
}

.postRow:hover .cmd {
    display: inline-block;
}

.postRow:hover .collapseCmd {
    display: inline-block;
}


.cmd {
    cursor: pointer;
    font-size: 30px !important;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.cmd:hover {
    color: rgb(2, 166, 221);
}

.cmd:active {
    color: lightblue;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    color: gray;
}

div2,
span2 {
    border: 1px solid red;
}